/*
.cardRectangle {
    position: relative;
    height: 42.563rem;
    width: 100%;
    border-radius: 85px;
    max-width: 1318px;
    aspect-ratio: 1318 / 681;
    overflow: hidden;
    max-height: 100%;
    color: #D9D9D9;
}
.projectTitle {
    position: absolute;
    text-align: left;
    font-size: 4.4rem;
    font-family: 'Avenir Next';
    display: inline-block;
    aspect-ratio: auto;
}
.projectTitleSpace {
    position: absolute;
    height: 59.77%;
    width: 48.33%;
    top: 20.12%;
    right: 6.83%;
    bottom: 20.12%;
    left: 44.84%;
    border-radius: 65px;
    background-color: #979797;
}
.projectCoverImage {
    position: absolute;
    object-fit: cover;
    top: 0%;
    right: 0%;
    bottom: 0%;
    height: 100%;
    left: 0%;
    border-radius: 106px 106px 0px 0px;
    aspect-ratio: 1 / 1;
}
.projectCoverImageContainer {
    position: absolute;
    height: 74.01%;
    width: 29.14%;
    top: 25.99%;
    right: 63.28%;
    bottom: 0%;
    left: 7.59%;
    border-radius: 106px 106px 0px 0px;
    background-color: #2c2c2c;
}

*/

