@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text:wght@400&display=swap');

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Ailerons';
  src: url('/src/fonts/Ailerons-Typeface.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Ailerons', 'Kalam', Arial, Helvetica, sans-serif;
}

.barcode-text {
  font-family: 'Libre Barcode 39 Text';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
